.container{
    background-color:rgb(253, 253, 253);  
    margin: -12px; 
}
 



.grilla{
    background-color:rgb(253, 253, 253);
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    margin: auto;
    justify-items: center;
    gap: 28px;
    
}

span{
   
}

img{
    width: 270px;
    height: 270px;
}

.iconos{
    width: 28px;
    height: 28px;
    margin-right: 14px;
}

#perfil{
    width: 29px;
    height: 29px;
    border-radius: 100%;
    border: 2px solid black;
}

.fotoprincipal{
    width: 190px;
    height: 190px;
    border-radius: 100%;
    border: 1px solid black;
    margin: 20px 80px 0px 220px;
}


.huevo{
    background-color: white;
}